# System files
pogled.txt
*_session.txt
izbran_tekmovalec.txt
izbran_tekmovalec_id.txt
prikaz_dozivetje.txt
server_data.php

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Python (tests)
__pycache__/
*.pyc
